body {
  margin: 0 auto;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #a0d6f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.astroContainer{
  margin: 0 auto;
  width: 80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;


}

.astroContainer h1{
  border-radius: 20px;
  color: rgba(49, 72, 92, 0.925);
  padding: 10px;
  font-family: Cinzel, serif;
}

.astroContainer img{
  width: 650px;
  height: 650px;
  padding: 10px;
}

.astroContainer p{
  font-family: Cinzel, serif;
  width: 50%
  
  
}